
 
 spring:
   datasource:
     url: jdbc:postgresql://localhost:5440/springboot-crud?createDatabaseIfNotExist=true&autoReconnect=true&showSSL=false
     username: synergy_user
     password: cAnGESON

   jpa:
     hibernate:
       ddl-auto: update
     show-sql: true
     properties:
       hibernate:
         dialect: org.hibernate.dialect.PostgreSQLDialect
